<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:text="${add} ? 'Add a User'" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1 th:text="${add} ? 'Add a User:'" />
<a th:href="@{/admin}">Back to User List</a>
<br/><br/>
<form th:action="${add} ? @{/admin/add}"
      th:object="${user}" method="POST">
    <table border="0">
        <tr th:if="${user.id}">
            <td>ID</td>
            <td>:</td>
            <td th:utext="${user.id}">...</td>
        </tr>
        <tr>
            <label for="username">Name</label>
            <input type="text" th:field="*{username}" id="username" placeholder="Name">
        </tr>
        <tr>
            <label for="userAge">Age</label>
            <input type="text" th:field="*{userAge}" id="userAge" placeholder="Age">
        </tr>
        <tr>
            <label for="userJob">Job</label>
            <input type="text" th:field="*{userJob}" id="userJob" placeholder="Job">
        </tr>
        <tr>
            <label for="password">Password</label>
            <input type="text" th:field="*{password}" id="password" placeholder="Password">
        </tr>
        <label>
            <select size="3" name="role" id="roles" multiple="multiple">
                <option disabled>Roles:</option>
                <option value="ROLE_ADMIN">ADMIN</option>
                <option selected value="ROLE_USER">USER</option>
            </select>
        </label>
    </table>
    <input type="submit" th:value="Add" />
</form>
<a th:href="@{/logout}">Logout</a>
<br/>
<!-- Check if errorMessage is not null and not empty -->
<div th:if="${errorMessage}" th:utext="${errorMessage}" class="error" />

</body>
</html>