<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>User List</h1>
<div>
    <nobr>
        <a th:href="@{/admin/add}">Add User</a> |
        <a th:href="@{/admin}">Back to User List</a>
    </nobr>
</div>
<br/><br/>
<div>
    <table class="table table-bordered table-striped table-dark">
        <table border="2">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Job</th>
            <th scope="col">Role</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        <tr th:each ="user : ${users}">
            <td><a th:href="@{/admin/{userId}(userId=${user.id})}" th:utext="${user.id}">...</a></td>
            <td><a th:href="@{/admin/{userId}(userId=${user.id})}" th:utext="${user.username}">...</a></td>
            <td th:utext="${user.userAge}">...</td>
            <td th:utext="${user.userJob}">...</td>
            <td th:text="${#strings.setJoin(user.getAuthorities, ',')}">...</td>
            <td><a th:href="@{/admin/{id}/edit(id=${user.id})}">Edit</a></td>
            <td><a th:href="@{/admin/{id}/delete(id=${user.id})}">Delete</a></td>
        </tr>
    </table>
</div>
<a th:href="@{/logout}">Logout</a>
</div>
</body>
</html>